.btnContainer {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  background: transparent;
  width: 25px;
  height: 20px;
  border: none;
  margin-top: 0.35rem;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  // Toggler Animation
  &.triggered > div {
    transform: rotate(135deg);

    // Creates 'X' Toggler Animation
    &::before {
      top: 0;
      transform: rotate(90deg);
    }

    &::after {
      height: 0px;
    }
  }

  // Rotate On Hover When Checked
  &.triggered:hover > div {
    transform: rotate(225deg);
  }
}

.hamburgerLine {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 2px;
  background: black;
  transition: all 0.4s ease;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -7px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: black;
    z-index: 1;
  }

  &::after {
    top: 7px;
  }
}
